.nube1,
.nube2,
.nube3 {
    position: absolute;
    display: none;
    

    @media (min-width: 768px) {
        display: block;
        transform: scale(0.65);
    }
    @media (min-width: 1024px) {
        transform: scale(1);
    }
}

.nube1 {
    top: 85px;
    left: 40%;
    
}

.nube2 {
    top: 175px;
    left: 45%;
}

.nube3 {
    top: 200px;
    right: 45%;
}